*{
    padding: 0;
    margin: 0;
    background-color: gray;
}
.elements{
    width: 500px;
    height: 250px;
    margin: -33px 0px 0px 36.6%;
    border-left: 7px solid black;
    border-right: 7px solid black;
}
.rect{
    text-align: center;
    background-color: yellow;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    position: absolute;
    width: 100%;
    top: 19.8%;
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
    transition: .3s linear;
}
.rect:hover{
    border-top: 5px solid green;
    background-color: orange;
    border-bottom: 5px solid green;
}
.images{
    display: flex;
    cursor: pointer;
    justify-content: space-around;
}
.stone,
.scissors,
.paper{
    margin: 80px 0px 20px 0px;
    border: 5px solid blue;
    background-color: rgb(141, 139, 139);
    border-radius: 7.5px;
    transition: .2s linear;
    box-shadow: 6px 3px 23px 30px rgba(0,255,242,0.35);
}
.stone:hover,
.scissors:hover,
.paper:hover{
    background-color: white;
    border: 5px solid rgb(22, 22, 177);
    margin: 50px 0px 20px 0px;
    box-shadow: 6px 3px 23px 30px rgb(1, 253, 241);
}
.fight{
    font-size: 40px;
    text-align: center;
    margin: 30px 0px 0px 46%;
    cursor: pointer;
    border: 5px solid rgb(206, 36, 64);
    border-radius: 8px;
    background-color:rgb(30, 179, 30);
    padding: 15px;
    transition: .3s linear;
}
.fight:hover{
    border: 5px solid rgb(245, 90, 116);
    background-color:greenyellow
}
/* .score{
    width: 100%;
    background-color: lightblue;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    border-top: 5px solid green;
    border-bottom: 5px solid green;
    transition: .3s linear;
    margin: 10px auto;
}
.score:hover{
    border-top: 5px solid lightblue;
    border-bottom: 5px solid lightblue;
    background-color: greenyellow;
} */
.result{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    border: 3px solid black;
    line-height: 50px;
    margin: 0px auto;
    background-color: white;
}
.win,
.draw,
.lose{
    border-left: 5px solid blue;
    border-right: 5px solid blue;
    padding-left: 150px;
    padding-right: 150px;
    background-color: orange;
    transition: .3s linear;
}
h2{
    background-color: orange;
    transition: .3s linear;
}
h2:hover,
.win:hover, .draw:hover, .lose:hover{
    background-color: yellow;
}
.pkt{
    display: flex;
    justify-content: space-around;
    line-height: 300px;
    font-size: 200px;
}
h3{
    color: black;
    transition: .5s linear;
}
h3:hover{
    color: blue;
}