*{
    padding: 0;
    margin: 0;
    background-color: gray;
}
.elements{
    width: 500px;
    height: 250px;
    margin: -33px 0px 0px 36.6%;
}
.rect{
    text-align: center;
    background-color: yellow;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    position: absolute;
    width: 100%;
    top: 19.8%;
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
    transition: .3s linear;
}
.rect:hover{
    border-top: 5px solid green;
    background-color: orange;
    border-bottom: 5px solid green;
}
.images{
    display: flex;
    cursor: pointer;
    flex-grow: 1;
    justify-content: space-around;
}
.stone,
.scissors,
.paper{
    margin: 40px 0px 20px 0px;
    border: 5px solid blue;
    background-color: white;
    border-radius: 7.5px;
    transition: .3s linear;
}
.stone:hover,
.scissors:hover,
.paper:hover{
    background-color: rgb(196, 193, 193);
    border: 5px solid rgb(22, 22, 177);
}