*{
    padding: 0;
    margin: 0;
    background-color: gray;
}
.elements{
    width: 500px;
    height: 250px;
    margin: -33px 0px 0px 36.6%;
}
.rect{
    text-align: center;
    background-color: yellow;
    height: 50px;
    line-height: 50px;
    font-size: 40px;
    position: absolute;
    width: 100%;
    top: 19.8%;
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
    transition: .3s linear;
}
.rect:hover{
    border-top: 5px solid green;
    background-color: orange;
    border-bottom: 5px solid green;
}
.images{
    display: flex;
    cursor: pointer;
    flex-grow: 1;
    justify-content: space-around;
    background-color: #fff;
}
.stone,
.scissors,
.paper{
    margin: 60px 0px 40px 0px;
    
}